langchain==0.3.13
langchain_community==0.3.13
langchain_core==0.3.28
langchain_groq==0.2.2
langchain_mistralai==0.2.4
langchain_pinecone==0.2.0
langchain_text_splitters==0.3.4
pinecone==5.4.2
python-dotenv==1.0.1
streamlit==1.41.1
