langchain==0.3.13
langchain_community==0.3.13
langchain_core==0.3.28
langchain_groq==0.2.2
langchain_mistralai==0.2.4
langchain_pinecone
langchain_text_splitters==0.3.4
pinecone
python-dotenv==1.0.1
streamlit==1.41.1
fastapi==0.115.6
uvicorn==0.34.0